.btn {
  padding: 8px 16px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  outline: none;
}

.btn.btn-primary {
  background-color: var(--purple-button);
  border-color: var(--purple-button);
  color: white;
}

.btn.btn-cancel {
  border-color: var(--light-fonts);
  background: none;
  color: var(--light-fonts);
}

.btn.btn-delete {
  background-color: #d83232;
  border-color: #d83232;
  color: white;
}

.btn.w-full {
  width: 100%;
}

.btn-primary {
  background-color: var(--purple-button);
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--purple-button);
}

.btn-link {
  background-color: #1e2a3b;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--purple-button);
}

.btn-google {
  background: none;
  color: var(--color-google);
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--color-google);
  transition: all 0.3s ease;
}
.btn-google:hover {
  color: white;
  background-color: var(--color-google);
}
.btn-facebook {
  background: none;
  color: var(--color-facebook);
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--color-facebook);
  transition: all 0.3s ease;
}
.btn-facebook:hover {
  color: white;
  background-color: var(--color-facebook);
}
