:root {
  --dark-fonts: #0f1a2a;
  --body-fonts: #27364b;
  --light-fonts: #64748b;
  --purple-button: #8219d5;
  --color-success: #419e6a;
  --color-danger: #d83232;
  --color-primary: #2563eb;
  --color-google: #ea4335;
  --color-facebook: #1877f2;
  --color-bg: #f1f4f9;
  --color-borders: #cbd4e1;
}
