h1 {
  font: bold 42px/58px 'Inter', sans-serif;
  color: var(--dark-fonts);
  text-align: center;
}

input {
  font: 16px/24px 'Inter', sans-serif;
}

input::placeholder {
  color: var(--light-fonts);
}

button {
  font: 600 16px/24px 'Inter', sans-serif;
}

.taskItem__name {
  font: 16px/24px 'Inter', sans-serif;
}

label {
  font: 600 16px/24px 'Inter', sans-serif;
}
